body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 10px;
}

button {
    background-color: #fff;
    border: none;
    border-radius: 40px;
}

.pop-up-container{
    position:fixed;
    top:0%;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:rgba(0,0,0,0.5); */
}

.pop-up{
    height:170px;
    width:400px;
    border:3px solid black;
    z-index: 1000;
    position: fixed;
    top:30%;
    left:38%;
    background-color: white;

    display: none; 
    display: flex;

    flex-direction: column;

    border-radius: 20px;
}
.pop-up .upper-cross {
    display:flex;
    justify-content: flex-end;
}


.pop-up .upper-cross button{
    background-color: red;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}	
.pop-up .lower-content{
    display: flex;
    gap:20px;
    margin:0px 20px;
    align-items: center;
}
.pop-up .lower-button{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    overflow: hidden;
    height: 25px;
}
.pop-up .lower-button button{
    cursor: pointer;
    
}
#speech-text{
    font-size: 17px;
}

#forge {
    border: 2px solid #000;
    width: 99%;
    height: 200px;
    min-height: 200px;
    background-color: #eee;
    color: #f9f9f9;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    grid-row-start: 2;
    grid-row-end: 3;
}

#pantry {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    float: right;
    overflow: auto;
    min-width: 100%;
    min-height: 1000px;
    text-align: left;
}

.pantryIngredient,
.ingredient {
    border-radius: 5px;
    border: 2px solid #000;
    background-color: #fff;
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
    /* padding: 7px;
    margin: 5px;
    display: inline-block; */
}

.ingredient {
    position: absolute;
}

.pantrySlot {
    max-width: 54px;
    min-height: 105px;
    margin: 25px;
    float: left;
    text-align: center;
    color: floralwhite;
    font-size: 20px;

    
}

#pantrySlot1 span{
    margin-left: -15px;
}

.pantrySlot:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.2s;
    
}

.nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    min-height: 600px;
}

#upbutton,
#downbutton {
    padding-top: 15px;
    min-width: 48px;
    min-height: 70px;
    
}

.outer {
    display: grid;
    grid-gap: 0;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: top;

}

.lower {
    display: grid;
    grid-gap: 0;
}

.upper {
    display: grid;
    grid-gap: 0;
    grid-row-start: 1;
    grid-row-end: 2;
}

#btnhome {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
}

#homebutton,
#collectionbutton {
    margin: 7px;
    font-size: 30px;
    position: relative;
    border-radius: 80px;
    padding-bottom: 6px;
}

#homebutton:hover{
    transform:scale(1.2);
    border:2px solid black;
    cursor: pointer;
}

#collectionnumbers {
    position: relative;
    top: -1px;
    left: 0px;
    font-weight: bold;
    font-size: 14px;
    color:floralwhite;
    padding-bottom: 0%;
}

#title {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    color: whitesmoke;
}

#btnhint {
    text-align: right;
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: left;
    padding-top: 9px;
}

#btncollection {
    text-align: center;
    grid-column-start: 5;
    grid-column-end: 6;
}

#modal,
#collection {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, .95);
    animation-name: animatetop;
    animation-duration: .4s;
}

#home,
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #000;
    background-position-x: center;
    background-repeat: no-repeat;
}

#modalcontent {
    margin: 15% auto;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    width: 90%;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}

#modalcontent a {
    color: #999
}

#wincontent {
    margin: 5% auto;
    background-color: #fff;
    width: 90%;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    display: none;
}

#homecontent {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    width: 90%;
    height: 100%;
    text-align: center;
    font-size: 2.5em;
    font-style: italic;
}

#homecontent span,
#homecontent div {
    font-style: normal;
}

#collectioncontent,
#finalcontent {
    margin: 20px auto;
    color: #000;
    width: 100%;
    text-align: center;
    vertical-align: top;
    font-size: 32px;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes focus {
    from {
        filter: blur(15px)
    }

    to {
        filter: blur(0px)
    }
}

.focusin {
    animation-name: focus;
    animation-duration: 1.5s;
    font-family: Impact, Arial Black;
}

#trash {
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    font-size: 20px;
    padding: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-bottom-right-radius: 40px;
}

#discovery {
    text-transform: uppercase;
}

.buttons{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .buttons .btn {
    position: relative;
    width:140px;
    height:20px;
    cursor: pointer;
    padding:17px;
    align-items: center;
    background: none;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    
  }
  .buttons .btn::before,
  .buttons .btn::after{
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    backdrop-filter:blur(15px);
    background: rgba(253, 251, 251, 0.049);
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(74, 65, 57, 0.5);
    z-index: -2;
  }
  .buttons .btn::after{
    width: 110%;
    height: 90%;
    top:25%;
    left:-5%;
    z-index: -3;
    transform: scaleX(0.5);
    transition: all 0.6s;
    background: linear-gradient(135deg,#f47f0a,#ff045c);
  }
  
  
  .buttons .btn:hover:after{
    transform: scaleX(1.01) translateY(-15px);
  }
  

.movie {
    border: 4px solid #000;
}

a {
    color: #fff
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(216, 0, 0);
}

@media (max-width: 425px){
    .pop-up{
        height:170px;
        width:80%;
        border:3px solid black;
        z-index: 1000;
        position: fixed;
        top:30%;
        left: 10%;
        background-color: white;
        display: none;
        
        display: flex;
        
        flex-direction: column;
    
        border-radius: 20px;
    }
}